# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
db.lock
storage.ide
storage.ide-shm
storage.ide-wal

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon

Icon

.meta


# ============ #
# game generated #
# ============ #
.assetBundle
AssetBundles/
Assets/BundleManager/Resources/Urls.txt
Assets/BundleManager/Resources/Urls.txt.meta
BuildStates.txt
Assets/Editor/Kongregate.meta
Assets/Editor/Kongregate
Assets/Resources/bundleVersion.txt
Assets/Resources/bundleVersion.txt.meta
Assets/Resources/data/config/environment.json
Assets/Resources/data/config/environment.json.meta
StreamingAssets
StreamingAssets.meta
